<footer class="bg-gray-100 flex flex-col gap-12 items-center text-center py-6">
<p class="font-pacifico text-2xl">L'Atelier Bijoux</p>
    <nav class="flex md:flex-col gap-4 font-comic-neue">
        <ul>
            <li>
                <a href={{ path('app_home') }}>Accueil</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href={{ path('app_home') }}>A propos</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href={{ path('app_home') }}>Mes créations</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
        {% if app.user %}
            <ul>
                <li>
                    <a href={{ path('app_admin_login') }}>Admin</a>
                </li>
            </ul>
        {% endif %}
    </nav>
    <p class="font-comic-neue">
        &copy; 2026 - L'Atelier Bijoux - Créations artisanales
    </p>
</footer>
