{% extends 'base_minimal.html.twig' %}

{% block body %}
    {% include('_header.html.twig') %}
    <main class="">
        {% block content %}{% endblock %}
    </main>
    {% include('_footer.html.twig') %}
{% endblock %}